p.BodyText {
    font-family: 'Arial', 'sans-serif';
    font-size: 13pt;
}
h2.Heading1 {
    margin-left: 0.46in;
    text-indent: -0.39in;
    font-family: 'Arial', 'sans-serif';
    font-size: 13pt;
    font-weight: bold;
}
h2.Numbering1 {
    counter-reset: Numbering02;
    margin-left: 0.46in;
    --autonumber: autonumber;
    text-indent: 0;
}
h2.Numbering1:before {
    counter-increment: Numbering01;
    content: counter(Numbering01,decimal)".";
    text-align: right;
    font-family: 'Arial', 'sans-serif';
    font-size: 13pt;
    letter-spacing: 0;
    display: inline-flex;
    width: 0.39in;
    margin-left: 0.07in;
    overflow: hidden;
    position: absolute;
    left: 0;
}
body {
counter-reset:Numbering01 ;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 11pt;
    font-family: Calibri;
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}